* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  color: aliceblue;
  font-family: sans-serif;
}

nav {
  grid-area: nav;
  background-color: #222;
  padding: 5px 20px;
}

.nav-links ul {
  list-style: none;
}

.nav-links li {
  font-size: 1rem;
  padding: 15px 5px;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links li a {
  display: block;
}

a:hover {
  text-decoration: underline;
  color: #5c3fcf;
}

.logo a {
  font-size: 20px;
}

.button.secondary {
  border-bottom: 1px #444 solid;
}

/* log-in page */

.log-in-container {
  background: rgb(255, 255, 255);
  color: #050512;
}

section {
  grid-area: section;
  background: -webkit-linear-gradient(288deg, #050512 17.37%, #38277e 106.9%);
  height: 50vh;
  overflow: hidden;
}

aside {
  display: none;
}

.intro {
  font-size: 3rem;
  padding: 1rem 1rem;
  width: 50%;
  line-height: 4.5rem;
}

.intro-img {
  width: 50%;
  transform: translate(95%, -12%);
}

main {
  color: #050512;
}

.article-grid-container {
  height: 250vh;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: 1fr;
  grid-template-areas:
    " article-1 "
    " article-2 "
    " article-3 "
    " article-4 "
    " article-5 "
    "   footer    ";
}

#news-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  height: 6rem;
  margin: 3rem 0 2rem 0;
}

.main-article-1 {
  grid-area: article-1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
.main-img-container {
  width: 100%;
}

#main-article-img {
  object-fit: cover;
  width: 100%;
  max-height: 14rem;
}

#article-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.article-info {
  width: 20rem;
  height: 1rem;
}

.secondary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article-2 {
  grid-area: article-2;
}
.article-3 {
  grid-area: article-3;
}
.article-4 {
  grid-area: article-4;
}
.article-5 {
  grid-area: article-5;
}

footer {
  background-color: black;
  color: #ffffff;
  grid-area: footer;
}

.footer-logo {
  text-align: center;
  margin: 2rem;
  font-size: 2rem;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-links li {
  list-style: none;
  padding: 0.5rem;
}
.footer-links a {
  text-decoration: none;
  color: #ffffff;
}

.footer-links a:hover {
  color: #4b369e;
}

.footer-p {
  text-align: center;
  margin: 1rem;
}

/* Mobile */

.nav-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  order: 1;
}
.item.button {
  order: 2;
}
.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}

.item.active {
  display: block;
}

.toggle {
  cursor: pointer;
}

.bars {
  background-color: #999;
  display: inline-block;
  height: 2px;
  position: relative;
  width: 18px;
}

.bars::before,
.bars::after {
  background-color: #999;
  content: "";
  display: inline-block;
  height: 2px;
  position: absolute;
  width: 18px;
}
.bars::before {
  top: 5px;
}
.bars::after {
  top: -5px;
}

/* tablet  */

@media screen and (min-width: 715px) {
  .nav-links {
    justify-content: center;
  }
  .logo {
    flex: 1;
  }
  .item.button {
    width: auto;
    order: 1;
    display: block;
  }

  .toggle {
    order: 2;
  }
  .button.secondary {
    border: 0;
  }

  .button a {
    text-decoration: none;
    padding: 7px 15px;
    background-color: #38277e;
    border: 1px solid #38277e;
    border-radius: 50em;
  }
  .button.secondary a {
    background: transparent;
  }
  .button a:hover {
    transition: all 0.25s;
  }
  .button:not(.secondary) a:hover {
    background: #444;
    border-color: #38277e;
  }

  .button.secondary a:hover {
    color: #ddd;
  }

  .intro {
    font-size: 3rem;
    padding: 1rem 1rem;
    width: 50%;
    line-height: 4.5rem;
    transform: translate(30%, 10%);
  }

  .intro-img {
    width: 50%;
    transform: translate(95%, -12%);
  }

  .article-grid-container {
    height: 80rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 50px 1fr 1fr 50px;
    grid-template-areas:
      ". article-1 article-1 ."
      ". article-2 article-3 ."
      ". article-4 article-5 .";
  }

  .main-article-1 {
    grid-area: article-1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .main-img-container {
    width: 90%;
  }

  #main-article-img {
    object-fit: cover;
    width: 100%;
    max-height: 20rem;
  }

  #article-img {
    border: 1px solid black;
    height: 15rem;
    width: 25rem;
    object-fit: cover;
  }
  aside {
    display: none;
  }
}

/* desktop  */
@media screen and (min-width: 1100px) {
  .item {
    display: block;
    width: auto;
  }
  .toggle {
    display: none;
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
  }
  .button {
    order: 2;
  }
  .nav-links li {
    padding: 15px 10px;
  }
  .nav-links li.button {
    padding-right: 0;
  }
  .intro {
    font-size: 3rem;
    padding: 1rem 1rem;
    width: 50%;
    line-height: 4.5rem;
    transform: translate(25%, 10%);
  }

  .intro-img {
    width: 50%;
    transform: translate(95%, -12%);
  }

  #news-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 5rem;
    height: 6rem;
    margin: 3rem 4rem;
    border-bottom: 1px solid silver;
  }

  aside {
    color: #050512;
    grid-area: aside;
    display: block;
  }

  .content-container {
    display: flex;
    flex-direction: column;
  }

  .aside-content {
    border: 1px solid silver;
    height: 360px;
    width: 85%;
    margin: 2rem 0;
  }

  .article-grid-container {
    height: 80rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 25px 1fr 1fr 1fr;
    grid-template-areas:
      ". article-1 article-1 aside"
      ". article-2 article-3 aside"
      ". article-4 article-5 aside";
  }

  .main-article-1 {
    grid-area: article-1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50rem;
  }
  .main-img-container {
    width: 100%;
  }

  #main-article-img {
    object-fit: cover;
    width: 44rem;
    max-height: 24rem;
  }

  #article-img {
    border: 1px solid black;
    height: 15rem;
    width: 18rem;
    object-fit: cover;
  }
}
