* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(245, 243, 239);
  color: aliceblue;
  font-family: sans-serif;
  overscroll-behavior: none;
}

nav {
  grid-area: nav;
  background-color: #222;
  padding: 5px 20px;
}

.nav-links ul {
  list-style: none;
}

.nav-links li {
  font-size: 1rem;
  padding: 15px 5px;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links li a {
  display: block;
}

a:hover {
  text-decoration: underline;
  color: #5c3fcf;
}

.logo a {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

.button.secondary {
  border-bottom: 1px #444 solid;
}

/* log-in page */

.log-in-container {
  background: rgb(255, 255, 255);
  color: #050512;
}

.intro-section {
  grid-area: section;
  background: linear-gradient(288deg, #050512 17.37%, #38277e 106.9%);
  height: 50vh;
  overflow: hidden;
}

aside {
  display: none;
}

.intro {
  font-size: 3rem;
  padding: 1rem 1rem;
  width: 50%;
  line-height: 4.5rem;
}

.intro-img {
  width: 50%;
  transform: translate(95%, -12%);
}

main {
  color: #050512;
}

.article-grid-container {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: 1fr;
  grid-template-areas:
    " article-1 "
    " article-2 "
    " article-3 "
    " article-4 "
    " article-5 "
    "   footer    ";
  row-gap: 10px;
}

#news-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  height: 6rem;
  margin: 2rem 4rem 2rem 4rem;
  border-bottom: 1px solid rgb(19, 18, 18);
}

.main-article-1 {
  background-color: white;
  display: flex;
  flex-direction: column;

  align-items: center;
  margin: 1rem 0 1rem 0;
  box-shadow: 0px 4px 11px rgb(109, 108, 108);
}

#main-article-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.main-article-info {
  height: 5rem;
  width: 18rem;
}

#article-img {
  min-height: 24rem;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.article-info {
  height: 5rem;
  width: 18rem;
}

.secondary-article {
  background-color: white;
  display: flex;
  flex-direction: column;

  align-items: center;
  margin: 1rem 0 1rem 0;
  box-shadow: 0px 4px 11px rgb(109, 108, 108);
}

.article-2 {
  grid-area: article-2;
}
.article-3 {
  grid-area: article-3;
}
.article-4 {
  grid-area: article-4;
}
.article-5 {
  grid-area: article-5;
}

/* Mobile  nav */

.nav-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  order: 1;
}
.item.button {
  order: 2;
}
.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}

.item.active {
  display: block;
}

.toggle {
  cursor: pointer;
}

.bars {
  background-color: #999;
  display: inline-block;
  height: 2px;
  position: relative;
  width: 18px;
}

.bars::before,
.bars::after {
  background-color: #999;
  content: "";
  display: inline-block;
  height: 2px;
  position: absolute;
  width: 18px;
}
.bars::before {
  top: 5px;
}
.bars::after {
  top: -5px;
}

.newsletter-section {
  background-color: white;
  color: black;
  margin: 2rem 0 2rem 0;
  height: 21rem;
  width: 100%;
  box-shadow: 0px 4px 11px rgb(109, 108, 108);
}

#newsletter-head {
  font-size: 3rem;
  text-align: center;
  margin: 0 0 1rem 0;
  border-bottom: 1px solid silver;
  font-family: "Oswald", sans-serif;
}

.newsletter {
  gap: 9px;
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
}

.newsletter button {
  margin: 1rem 1rem 0 1rem;
  background-color: #5e42cc;
  color: aliceblue;
  padding: 8px;
  border-radius: 16px;
}

/* -------------------    Footer ------------------------- */
footer {
  background-color: black;
  color: #ffffff;
  grid-area: footer;
  height: 30rem;
}

.footer-grid {
  display: grid;
  grid-template-columns: 40vw 20vw 40vw;
  grid-template-rows: 8rem 1fr;
  grid-template-areas:
    "logo  . social-header"
    "links . social-links"
    ".     .      info";
}

.footer-logo {
  grid-area: logo;
  text-decoration: underline;
  width: fit-content;
  margin: 4rem 0 0 4rem;
  font-size: 1rem;
}

.footer-links {
  grid-area: links;
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 4rem;
}

.social-header {
  text-decoration: underline;
  grid-area: social-header;
  margin: 4rem 0 0 0;
  font-size: 1rem;
}

.social-links {
  display: flex;
  flex-direction: column;
  width: fit-content;
  grid-area: social-links;
}

.footer-info {
  display: none;
  grid-area: info;
  width: 26rem;
}

.footer-links li {
  list-style: none;
  padding: 0.5rem;
}

.footer-links a {
  text-decoration: none;
  color: #ffffff;
}

.footer-links a:hover {
  color: #4b369e;
}

.footer-p {
  grid-area: info;
  text-align: center;
  margin: 1rem;
}

.small-article {
  display: none;
}

.small-article-info {
  display: none;
}
.carousel {
  display: none;
}

/*-------- tablet  --------*/
/*-------- tablet  --------*/
/*-------- tablet  --------*/
/*-------- tablet  --------*/

@media screen and (min-width: 715px) {
  body {
    background-color: rgb(250, 250, 250);
  }

  .nav-links {
    justify-content: center;
  }
  .logo {
    flex: 1;
  }
  .item.button {
    width: auto;
    order: 1;
    display: block;
  }

  .toggle {
    order: 2;
  }
  .button.secondary {
    border: 0;
  }

  .button a {
    text-decoration: none;
    padding: 7px 15px;
    background-color: #38277e;
    border: 1px solid #38277e;
    border-radius: 50em;
  }
  .button.secondary a {
    background: transparent;
  }
  .button a:hover {
    transition: all 0.25s;
  }
  .button:not(.secondary) a:hover {
    background: #444;
    border-color: #38277e;
  }

  .button.secondary a:hover {
    color: #ddd;
  }

  .intro {
    font-size: 3rem;
    padding: 1rem 6rem 1rem 1rem;
    width: 50%;
    line-height: 4.5rem;
    transform: translate(30%, 10%);
  }

  .intro-img {
    width: 50%;
    transform: translate(95%, -12%);
  }

  .article-grid-container {
    height: 80rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 50px 1fr 1fr 50px;
    grid-template-areas:
      ". article-1 article-1 ."
      ". article-2 article-3 ."
      ". article-4 article-5 .";
  }

  .main-article-1 {
    grid-area: article-1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98%;
  }

  .main-img-container {
    width: 90%;
  }
  .main-article-info {
    width: 18rem;
  }

  .article-info {
    height: 5rem;
    width: 18rem;
  }

  .secondary-article {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 20px 1rem 0;
    box-shadow: 0px 4px 11px rgb(109, 108, 108);
  }

  #main-article-img {
    object-fit: cover;
    width: 97%;
    max-height: 16rem;
  }

  #article-img {
    height: 15rem;
    width: 25rem;
    object-fit: cover;
  }
  aside {
    display: none;
  }

  .small-article-contianer {
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    width: 70%;
    height: 0;
    padding-bottom: 40%;
    background-color: #222;
    border: solid 10px #2c2c2c;
  }

  .newsletter-container {
    display: flex;
    justify-content: space-evenly;
  }
  .newsletter-section {
    background-color: white;
    color: black;
    height: 21rem;
    box-shadow: 0px 4px 11px rgb(109, 108, 108);
    width: 40rem;
    margin: 15rem 0 5rem 0;
  }

  #newsletter-head {
    font-size: 3rem;
    text-align: center;
    margin: 0 0 1rem 0;
    border-bottom: 1px solid silver;
  }

  .newsletter {
    gap: 9px;
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
  }

  .newsletter button {
    margin: 1rem 1rem 0 1rem;
    background-color: #5e42cc;
    color: aliceblue;
    padding: 8px;
    border-radius: 16px;
  }

  .footer-logo {
    grid-area: logo;
    text-decoration: underline;
    width: fit-content;
    margin: 4rem 0 0 4rem;
    font-size: 3rem;
  }

  .footer-links {
    grid-area: links;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 5rem 4rem;
  }

  .social-header {
    text-decoration: underline;
    grid-area: social-header;
    margin: 4rem 0 0 0;
    font-size: 3rem;
  }

  .social-links {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    width: fit-content;
    grid-area: social-links;
  }

  .footer-info {
    display: none;
    grid-area: info;
    width: 26rem;
  }

  .footer-links li {
    list-style: none;
    padding: 0.5rem;
  }

  .footer-links a {
    text-decoration: none;
    color: #ffffff;
  }

  .footer-links a:hover {
    color: #4b369e;
  }

  .footer-p {
    grid-area: info;
    text-align: center;
    margin: 1rem;
  }
  .carousel {
    display: flex;
    grid-area: carousel;
    width: 80%;
    height: 262px;
    margin: 0 auto;
    display: none;
  }
}

/*----------desktop --------- */
/*----------desktop --------- */
/*----------desktop --------- */
/*----------desktop --------- */

@media screen and (min-width: 1100px) {
  body {
    background-color: white;
  }

  .item {
    display: block;
    width: auto;
  }
  .toggle {
    display: none;
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
  }
  .button {
    order: 2;
  }
  .nav-links li {
    padding: 15px 10px;
  }
  .nav-links li.button {
    padding-right: 0;
  }
  .intro {
    font-size: 3rem;
    padding: 1rem 1rem;
    width: 50%;
    line-height: 4.5rem;
    transform: translate(25%, 10%);
  }

  .intro-img {
    width: 50%;
    transform: translate(95%, -12%);
  }

  #news-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 5rem;
    height: 6rem;
    margin: 3rem 3rem 2rem 5rem;
  }

  aside {
    color: #050512;
    grid-area: aside;
    display: block;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem;
    text-align: center;
    font-size: 15px;
  }

  .aside-content {
    height: 500px;
    width: 100%;
    margin: 0 0 2rem 0;
    padding: 1rem;
    border: 1px solid silver;
  }

  .aside-header {
    font-size: 2rem;
  }

  .second-aside {
    margin-top: 15px;
  }

  .aside-info {
    padding: 10px;
  }

  .article-grid-container {
    height: 98rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 25px 1fr 1fr 1fr;
    grid-template-areas:
      ". article-1 article-1 aside"
      ". article-2 article-3 aside"
      ". article-4 article-5 aside";
  }

  .secondary-article {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 20px 1rem 0;
    box-shadow: 0px 4px 11px rgb(109, 108, 108);
  }

  .main-article-1 {
    grid-area: article-1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50rem;
  }
  .main-img-container {
    width: 100%;
  }

  #main-article-img {
    object-fit: cover;
    width: 95%;
    max-height: 24rem;
  }

  #article-img {
    height: 15rem;
    object-fit: cover;
  }

  /* ----------- carousel --------- */
  .carousel {
    display: block;
    position: relative;
    height: 300px;
    width: 60%;
    margin: 50px 25px 50px 77px;
  }

  .carousel__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .carousel__track {
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
  }

  .carousel__track-container {
    background-color: lightgreen;
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  .carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }

  .carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
  }

  .carousel__button img {
    width: 25px;
  }

  .carousel__button--left {
    left: -40px;
  }

  .carousel__button--right {
    right: -40px;
  }

  .carousel__nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }

  .carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0 10px;
  }

  .carousel__indicator.current-slide {
    background: rgba(0, 0, 0, 0.75);
  }

  /*-------- Newsletter -------------*/
  .newsletter-container {
    grid-area: newsletter;
    display: flex;
    margin-left: 1rem;
    margin-top: -8rem;
    width: 51rem;
  }
  .newsletter-section {
    background-color: white;
    color: black;
    height: 21rem;
    box-shadow: 0px 4px 11px rgb(109, 108, 108);
    width: 44rem;
  }

  #newsletter-head {
    font-size: 3rem;
    text-align: center;
    margin: 0 0 1rem 0;
    border-bottom: 1px solid silver;
  }

  .newsletter {
    gap: 9px;
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
  }

  .newsletter button {
    margin: 1rem 1rem 0 1rem;
    background-color: #5e42cc;
    color: aliceblue;
    padding: 8px;
    border-radius: 16px;
  }
}
