<!-- templates/home.html -->

{% extends 'base.html' %}
{% load static %}


{% block title %}Home{% endblock %}



{% block content %}

<section class="intro-section">
    <div class="intro">
        <h4>Guiding You Through <span>Investing</span></h4>
    </div>
    <div class="intro-img">
        <img src="{% static 'img/homepage-illustration.svg' %}" alt="">
    </div>

</section>

<main>
    <h3 id="news-header">News</h3>
    <div id="app">
        <div class="article-grid-container">
            <aside>
                <div class="content-container">
                    <div class="aside-content">
                        <h3 id="aside-header">Previous close</h3>
                        <div class="aside-info">
                            [[stock.marketSummaryAndSparkResponse.result[0].shortName]]<br>
                            [[stock.marketSummaryAndSparkResponse.result[0].regularMarketPreviousClose.fmt]]
                        </div>
                        <div class="aside-info">
                            [[stock.marketSummaryAndSparkResponse.result[1].shortName]]<br>
                            [[stock.marketSummaryAndSparkResponse.result[1].regularMarketPreviousClose.fmt]]
                        </div>
                        [[stock.marketSummaryAndSparkResponse.result[2].shortName]]<br>
                        [[stock.marketSummaryAndSparkResponse.result[2].regularMarketPreviousClose.fmt]]
                        <div class="aside-info">
                            [[stock.marketSummaryAndSparkResponse.result[3].shortName]]<br>
                            [[stock.marketSummaryAndSparkResponse.result[3].regularMarketPreviousClose.fmt]]
                        </div>
                        <div class="aside-info">
                            [[stock.marketSummaryAndSparkResponse.result[4].shortName]]<br>
                            [[stock.marketSummaryAndSparkResponse.result[4].regularMarketPreviousClose.fmt]]
                        </div>
                        <div class="second-aside">
                            <h3 id="aside-header">Top Gainers</h3>
                            <div class="aside-info">
                                [[gainer.finance.result[0].quotes[0].symbol]]
                            </div>
                            <div class="aside-info">
                                [[gainer.finance.result[0].quotes[1].symbol]]
                            </div>

                            <div class="aside-info">
                                [[gainer.finance.result[0].quotes[2].symbol]]
                            </div>
                            <div class="aside-info">
                                [[gainer.finance.result[0].quotes[3].symbol]]
                            </div>
                        </div>
                    </div>
                </div>
            </aside>

            <article class="main-article-1">
                <img id="main-article-img" :src="[[ news.data[0].links.uriImage ]]" alt="">
                <br>
                <div class="main-article-info">
                    [[ news.data[0].attributes.title ]]
                    <a :href="[[ news.data[0].links.canonical ]]" target="_blank">To article</a>
                </div>

            </article>
            <article class="article-2 secondary-article">
                <div class="img-container">
                    <img id="article-img" :src="[[ news.data[1].links.uriImage ]]" alt="">
                </div>
                <br>
                <div class="article-info">
                    [[ news.data[1].attributes.title ]]
                    <a :href="[[ news.data[1].links.canonical ]]" target="_blank">To article</a>
                </div>

            </article>
            <article class="article-3 secondary-article">
                <div class="img-container">
                    <img id="article-img" :src="[[ news.data[2].links.uriImage ]]" alt="">
                </div>
                <br>
                <div class="article-info">
                    [[ news.data[2].attributes.title ]]
                    <a :href="[[ news.data[2].links.canonical ]]" target="_blank">To article</a>
                </div>

            </article>
            <article class="article-4 secondary-article">
                <div class="img-container">
                    <img id="article-img" :src="[[ news.data[3].links.uriImage ]]" alt="">
                </div>
                <br>
                <div class="article-info">
                    [[ news.data[3].attributes.title ]]
                    <a :href="[[ news.data[3].links.canonical ]]" target="_blank">To article</a>
                </div>

            </article>
            <article class="article-5 secondary-article">
                <div class="img-container">
                    <img id="article-img" :src="[[ news.data[4].links.uriImage ]]" alt="">
                </div>
                <br>
                <div class="article-info">
                    [[ news.data[4].attributes.title ]]
                    <a :href="[[ news.data[4].links.canonical ]]" target="_blank">To article</a>
                </div>
            </article>
        </div>


        <div class="carousel">
            <button class="carousel__button carousel__button--left"><img src="{% static 'img/left-arrow.svg' %}"
                    alt=""></button>
            <div class="carousel__track-container">
                <ul class="carousel__track">
                    <li class="carousel__slide">
                        <img :src="[[ news.data[5].links.uriImage ]]" alt="" class="carousel__image">
                        <a :href="[[ news.data[5].links.canonical ]]" target="_blank">To article</a>
                    </li>

                    <li class="carousel__slide">
                        <img :src="[[ news.data[6].links.uriImage ]]" alt="" class="carousel__image">
                        <a :href="[[ news.data[6].links.canonical ]]" target="_blank">To article</a>
                    </li>

                    <li class="carousel__slide">
                        <img :src="[[ news.data[6].links.uriImage ]]" alt="" class="carousel__image">
                        <a :href="[[ news.data[6].links.canonical ]]" target="_blank">To article</a>
                    </li>
                </ul>
            </div>
            <button class="carousel__button carousel__button--right"><img src="{% static 'img/right-arrow.svg' %}"
                    alt=""></button>

            <div class="carousel__nav">
                <button class="carousel__indicator current-slide"></button>
                <button class="carousel__indicator"></button>
                <button class="carousel__indicator"></button>
            </div>
        </div>
    </div>
</main>

<div class="newsletter-container">
    <section class="newsletter-section">
        <h3 id="newsletter-head">Newsletter</h3>
        <div class="newsletter">
            <label for="">First Name</label>
            <input type="text">
            <label for="">Last Name</label>
            <input type="text">
            <label for="">Email</label>
            <input type="text">
            <button>Submit</button>
        </div>
    </section>
</div>

<script src="{% static 'carousel.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>

    const vm = new Vue({
        el: "#app",
        delimiters: ['[[', ']]'],
        data: {
            news: [],
            stock: [],
            gainer: []
        },
        methods: {
            loadNews: function () {
                axios({
                    method: 'GET',
                    url: 'https://seeking-alpha.p.rapidapi.com/news/v2/list-trending',
                    params: { until: '0', since: '0', size: '10' },
                    headers: {
                        'x-rapidapi-host': 'seeking-alpha.p.rapidapi.com',
                        'x-rapidapi-key': '3626506961msh6043bed195d39acp11b912jsna00bcc337f5c'
                    }
                }).then(response => {
                    this.news = response.data
                })
            },
            loadStock: function () {
                axios({
                    method: 'get',
                    url: 'https://yh-finance.p.rapidapi.com/market/v2/get-summary',
                    params: { region: 'US' },
                    headers: {
                        'x-rapidapi-host': 'yh-finance.p.rapidapi.com',
                        'x-rapidapi-key': '3626506961msh6043bed195d39acp11b912jsna00bcc337f5c'
                    }
                }).then(response => {
                    this.stock = response.data
                })
            },
            loadgainers: function () {
                axios({
                    method: 'get',
                    url: 'https://yh-finance.p.rapidapi.com/market/v2/get-movers',
                    params: { region: 'US' },
                    headers: {
                        'x-rapidapi-host': 'yh-finance.p.rapidapi.com',
                        'x-rapidapi-key': '3626506961msh6043bed195d39acp11b912jsna00bcc337f5c'
                    }
                }).then(response => {
                    this.gainer = response.data
                })
            }
        },
        mounted: function () {
            this.loadNews()
            this.loadStock()
            this.loadgainers()
        }
    })


</script>


{% endblock %}